<?xml version="1.0"?>
<config>
  <modules>
    <PushON_VarnishFix>
      <version>0.1.0</version>
    </PushON_VarnishFix>
  </modules>
  <global>
    <helpers>
      <varnishfix>
        <class>PushON_VarnishFix_Helper</class>
      </varnishfix>
        <core>
			<rewrite>
				<url>PushON_VarnishFix_Helper_Core_Url</url>
            </rewrite>
        </core>
    </helpers>
  </global>
</config> 